.button {
  display: flex;
  align-items: center;
  background: none;
  border: 0;
  outline: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  &:not(.right-text) > img {
    margin-left: 0.5rem;
  }
  &.right-text img {
    margin-right: 1rem;
  }
  &.primary {
    min-width: 210px;
    padding: 16px;
    background: var(--dark-grey);
    border: 0.1rem solid var(--dark-grey);
    border-radius: 56px;
    color: var(--white);
    justify-content: center;
    font-weight: 700;
    &:hover {
      background: var(--white);
      color: var(---dark-blue);
    }
  }
  &.secondary {
    justify-content: center;
    min-width: 210px;
    padding: 16px;
    background: var(--green);
    border: 0.1rem solid var(--green);
    border-radius: 56px;
    color: var(--dark-blue);
    font-weight: 700;
    &:hover {
      background: var(--white);
      color: var(--dark-blue);
    }
  }
  &.active {
    border: 0.1rem solid var(---dark-blue);
  }
}
