.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}
.button a {
  padding: 1.5rem;
  margin: -1.5rem;
}
.button:not(.right-text) > img {
  margin-left: 0.5rem;
}
.button.right-text img{
  margin-right: 1rem;
}

.button.primary {
  padding: 1.5rem;
  background: var(--white);
  border: 0.1rem solid var(--black);
}
.button.primary:hover {
  background: var(--black);
  color: var(--white);
}
.button.secondary {
  padding: 1.5rem;
  background: var(--black);
  border: 0.1rem solid var(--black);
  color: var(--white);
}
.button.active{
  border: 0.1rem solid var(--black);
}
.button.secondary:hover {
  background: var(--white);
  color: var(--black);
}
