@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

.App {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 1rem 0;
}

svg {
  flex-shrink: 0;
}

.img-wrapper {
  position: relative;
}

.img-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.img-wrapper svg,
.img-wrapper img,
.img-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper .swiper-slide {
  height: auto;
}

.swiper-pagination-gallery .swiper-pagination-bullet {
  background: var(--dark-blue);
  border: 1px solid var(--white);
  opacity: 1;
}

.swiper-pagination-gallery .swiper-pagination-bullet-active {
  background: var(--white);
}

.swiper-pagination-feedback .swiper-pagination-bullet {
  background: var(--white);
  border: 1px solid var(--dark-blue);
  opacity: 1;
}

.swiper-pagination-feedback .swiper-pagination-bullet-active {
  background: var(--dark-blue);
}
.page-template {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}
.page-template:not(.page-template-index) .header:not(.bg-white) {
  background: var(--bg-header);
}
.page-template:not(.page-template-contact-us) .footer {
  background: var(--bg-footer);
}
.text-error {
  display: inline-block;
  color: #ed1c24;
  padding: 10px 0;
}
.section:first-of-type:before,
.section:not(:last-of-type):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bg-height);
  background: var(--bg-section);
  z-index: -1;
}
.page-template-contact-us .section:before {
  height: calc(var(--bg-height) / 1.8);
}
.page-template {
  position: relative;
}
.section:not(:first-of-type):last-of-type::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--bg-height);
  background: #faf7f4;
  z-index: -1;
}

.review-item,
.section {
  position: relative;
  padding-top: calc(var(--pd-top) / 2);
  padding-bottom: calc(var(--pd-bottom) / 2);
  color: var(--color-section);
}
.section:first-of-type {
  padding-top: calc(var(--mg-top) + (var(--pd-top) / 2));
}
.section__wrapper {
  grid-template-columns: 1fr;
  gap: var(--grid-gap-section);
  justify-content: var(--aligment-section);
  max-width: var(--max-w-section, 1440px);
}

.contact-form::after,
.contact-form::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.contact-form::before {
  background: var(--form-top-img) no-repeat top/contain;
  max-width: 50px;
  right: 0;
  transform: translate(0%, -5%);
}
.contact-form::after {
  background: var(--form-left-img) no-repeat bottom/contain;
  max-width: 70px;
  left: 0;
  transform: translate(-10px, 40px);
}
@layer components {
  .btn {
    @apply flex items-center py-4 px-6  justify-center;
  }
  .btn--primary {
    @apply justify-between h-max min-w-[180px] bg-primary-orange hover:bg-orange-dark transition-colors text-white text-lg font-bold;
  }
  .btn--secondary {
    @apply justify-between h-max min-w-[180px] bg-primary-green hover:bg-green-dark transition-colors text-white text-lg font-bold;
  }
  .border-founder-icon {
    @apply rounded-full after:block after:absolute after:top-0 after:left-0 after:border-4 after:border-grey after:w-full after:h-full after:rounded-full;
  }
  .border-contact-form {
    @apply border border-border-color;
  }

  h1,
  .h1 {
    @apply text-5xl font-bold md:text-[80px] leading-none;
  }
  h2,
  .h2 {
    @apply text-4xl font-bold md:text-[60px] leading-none;
  }
  h3,
  .h3 {
    @apply text-3xl font-bold md:text-[40px] leading-none;
  }
  h4,
  .h4 {
    @apply text-3xl font-bold md:text-[30px] leading-none;
  }

  .custom-title h2 i,
  .custom-title h1 i {
    @apply font-normal italic text-primary-green;
    font-family: "Fraunces", serif;
  }
}

@media screen and (min-width: 1024px) {
  .page-template-contact-us .section:first-of-type:before {
    height: var(--bg-height);
  }
  .section:first-of-type {
    padding-top: calc(var(--mg-top) + var(--pd-top));
  }
  .review-item {
    padding-top: var(--pd-top);
    padding-bottom: var(--pd-bottom);
  }
  .section {
    padding-top: var(--pd-top);
    padding-bottom: var(--pd-bottom);
    grid-template-columns: var(--grid-column-section);
  }
  .section__wrapper {
    grid-template-columns: var(--grid-column-section);
    gap: var(--grid-gap-section);
  }
  .contact-form::before {
    max-width: 230px;
    transform: translate(-15%, -15%);
  }
  .contact-form::after {
    background-position: left;
    max-width: 300px;
    transform: translate(-70%, -10%);
    z-index: -1;
  }
}
