.stars {
  position: absolute;
  width: 100%;
  height: 100%;
  .stars_1 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 504px 1751px #65e4a3, 14px 226px #65e4a3, 1375px 1506px #65e4a3,
      1776px 1121px #65e4a3, 1934px 1541px #65e4a3, 1843px 192px #65e4a3,
      1537px 830px #65e4a3, 1817px 1024px #65e4a3, 1147px 828px #65e4a3,
      572px 815px #65e4a3, 1395px 1622px #65e4a3, 1352px 1388px #65e4a3,
      1767px 855px #65e4a3, 166px 571px #65e4a3, 1027px 354px #65e4a3,
      1616px 1361px #65e4a3, 885px 1763px #65e4a3, 1362px 1834px #65e4a3,
      161px 571px #65e4a3, 842px 1276px #65e4a3, 1077px 910px #65e4a3,
      1330px 1430px #65e4a3, 1261px 862px #65e4a3, 749px 1903px #65e4a3,
      1762px 1243px #65e4a3, 35px 1541px #65e4a3, 1367px 358px #65e4a3,
      1457px 886px #65e4a3, 836px 1104px #65e4a3, 1943px 1105px #65e4a3,
      504px 311px #65e4a3, 361px 268px #65e4a3, 830px 69px #65e4a3,
      1662px 809px #65e4a3, 463px 336px #65e4a3, 1968px 1714px #65e4a3,
      1826px 871px #65e4a3, 962px 838px #65e4a3, 205px 488px #65e4a3,
      1068px 1972px #65e4a3, 1199px 1257px #65e4a3, 1977px 1689px #65e4a3,
      509px 856px #65e4a3, 58px 1776px #65e4a3, 1305px 621px #65e4a3,
      1089px 1669px #65e4a3, 725px 1389px #65e4a3, 1829px 1629px #65e4a3,
      1344px 1265px #65e4a3, 1742px 1331px #65e4a3, 1077px 722px #65e4a3,
      1178px 1316px #65e4a3, 566px 543px #65e4a3, 1313px 648px #65e4a3,
      998px 1817px #65e4a3, 87px 1606px #65e4a3, 954px 366px #65e4a3,
      1375px 1483px #65e4a3, 1344px 1771px #65e4a3, 1619px 12px #65e4a3,
      505px 153px #65e4a3, 1078px 631px #65e4a3, 403px 356px #65e4a3,
      1944px 1329px #65e4a3, 520px 1039px #65e4a3, 1415px 956px #65e4a3,
      196px 1197px #65e4a3, 1615px 1318px #65e4a3, 1287px 240px #65e4a3,
      872px 1449px #65e4a3, 1518px 992px #65e4a3, 614px 1500px #65e4a3,
      369px 465px #65e4a3, 195px 1840px #65e4a3, 1045px 745px #65e4a3,
      837px 100px #65e4a3, 117px 310px #65e4a3, 1995px 1708px #65e4a3,
      1059px 1090px #65e4a3, 900px 1881px #65e4a3, 738px 111px #65e4a3,
      1411px 1088px #65e4a3, 1520px 1071px #65e4a3, 1865px 1771px #65e4a3,
      364px 1110px #65e4a3, 1277px 1930px #65e4a3, 956px 1685px #65e4a3,
      793px 289px #65e4a3, 1937px 344px #65e4a3, 912px 627px #65e4a3,
      1088px 895px #65e4a3, 405px 706px #65e4a3, 958px 1167px #65e4a3,
      579px 1904px #65e4a3, 1095px 1903px #65e4a3, 1390px 1283px #65e4a3,
      1644px 235px #65e4a3, 1647px 438px #65e4a3, 1388px 1281px #65e4a3,
      1684px 333px #65e4a3, 1896px 342px #65e4a3, 1583px 1258px #65e4a3,
      295px 467px #65e4a3, 853px 1330px #65e4a3, 1477px 1716px #65e4a3,
      1510px 1540px #65e4a3, 1106px 967px #65e4a3, 1511px 1153px #65e4a3,
      1482px 186px #65e4a3, 1678px 524px #65e4a3, 1207px 957px #65e4a3,
      295px 1709px #65e4a3, 200px 1275px #65e4a3, 633px 1473px #65e4a3,
      1595px 720px #65e4a3, 228px 324px #65e4a3, 964px 174px #65e4a3,
      140px 961px #65e4a3, 1149px 1193px #65e4a3, 1980px 1614px #65e4a3,
      621px 69px #65e4a3, 657px 137px #65e4a3, 1593px 1594px #65e4a3,
      1951px 276px #65e4a3, 669px 980px #65e4a3, 651px 1356px #65e4a3,
      1732px 802px #65e4a3, 1173px 856px #65e4a3, 1418px 818px #65e4a3,
      1011px 741px #65e4a3, 837px 590px #65e4a3, 570px 381px #65e4a3,
      773px 1559px #65e4a3, 439px 1625px #65e4a3, 469px 150px #65e4a3,
      1911px 1648px #65e4a3, 489px 966px #65e4a3, 1752px 1299px #65e4a3,
      1311px 1579px #65e4a3, 1278px 977px #65e4a3, 1028px 1556px #65e4a3,
      127px 551px #65e4a3, 612px 1600px #65e4a3, 397px 177px #65e4a3,
      713px 289px #65e4a3, 438px 38px #65e4a3, 228px 543px #65e4a3,
      1729px 936px #65e4a3, 1895px 1657px #65e4a3, 1391px 1246px #65e4a3,
      820px 433px #65e4a3, 291px 1422px #65e4a3, 1386px 1389px #65e4a3,
      383px 1077px #65e4a3, 451px 11px #65e4a3, 1877px 761px #65e4a3,
      176px 194px #65e4a3, 863px 102px #65e4a3, 1955px 416px #65e4a3,
      363px 1408px #65e4a3, 1136px 1746px #65e4a3, 1944px 1581px #65e4a3,
      1849px 1768px #65e4a3, 1880px 941px #65e4a3, 1354px 1108px #65e4a3,
      787px 345px #65e4a3, 797px 1441px #65e4a3, 384px 1251px #65e4a3,
      256px 899px #65e4a3, 586px 1113px #65e4a3, 1409px 588px #65e4a3,
      596px 611px #65e4a3, 673px 1573px #65e4a3, 1386px 55px #65e4a3,
      961px 140px #65e4a3, 580px 497px #65e4a3, 1475px 846px #65e4a3,
      1272px 145px #65e4a3, 1151px 1177px #65e4a3, 1226px 1549px #65e4a3,
      143px 651px #65e4a3, 768px 1999px #65e4a3, 759px 1087px #65e4a3,
      609px 186px #65e4a3, 1473px 1644px #65e4a3, 1607px 123px #65e4a3,
      1698px 1920px #65e4a3, 1362px 886px #65e4a3, 1890px 1102px #65e4a3,
      1000px 1255px #65e4a3, 1372px 1705px #65e4a3, 965px 1752px #65e4a3,
      228px 1612px #65e4a3, 1941px 736px #65e4a3, 548px 1783px #65e4a3,
      1788px 1634px #65e4a3, 1650px 228px #65e4a3, 903px 871px #65e4a3,
      1155px 529px #65e4a3, 1091px 253px #65e4a3, 647px 1730px #65e4a3,
      1340px 440px #65e4a3, 604px 417px #65e4a3, 692px 146px #65e4a3,
      1704px 286px #65e4a3, 1057px 27px #65e4a3, 360px 213px #65e4a3,
      251px 326px #65e4a3, 357px 647px #65e4a3, 1876px 17px #65e4a3,
      404px 1523px #65e4a3, 293px 1149px #65e4a3, 1155px 1px #65e4a3,
      1807px 1354px #65e4a3, 24px 187px #65e4a3, 171px 79px #65e4a3,
      1309px 486px #65e4a3, 1499px 1379px #65e4a3, 1271px 1363px #65e4a3,
      1026px 1023px #65e4a3, 618px 1872px #65e4a3, 1402px 637px #65e4a3,
      1185px 1079px #65e4a3, 884px 1530px #65e4a3, 1010px 1249px #65e4a3,
      1108px 1998px #65e4a3, 1056px 984px #65e4a3, 1889px 903px #65e4a3,
      1375px 1274px #65e4a3, 500px 1270px #65e4a3, 1094px 1187px #65e4a3,
      583px 996px #65e4a3, 792px 1456px #65e4a3, 675px 956px #65e4a3,
      843px 1063px #65e4a3, 427px 860px #65e4a3, 434px 1537px #65e4a3,
      4px 932px #65e4a3, 596px 1195px #65e4a3, 201px 1851px #65e4a3,
      705px 989px #65e4a3, 1788px 4px #65e4a3, 1584px 575px #65e4a3,
      394px 1913px #65e4a3, 1113px 67px #65e4a3, 851px 904px #65e4a3,
      1622px 254px #65e4a3, 1839px 513px #65e4a3, 588px 1533px #65e4a3,
      648px 1056px #65e4a3, 1541px 1325px #65e4a3, 871px 1419px #65e4a3,
      728px 282px #65e4a3, 257px 972px #65e4a3, 1391px 491px #65e4a3,
      549px 1143px #65e4a3, 1140px 98px #65e4a3, 358px 1983px #65e4a3,
      1846px 385px #65e4a3, 578px 1351px #65e4a3, 731px 1818px #65e4a3,
      882px 1034px #65e4a3, 94px 842px #65e4a3, 1672px 975px #65e4a3,
      1258px 1736px #65e4a3, 1040px 1661px #65e4a3, 984px 205px #65e4a3,
      77px 1086px #65e4a3, 1184px 413px #65e4a3, 325px 1394px #65e4a3,
      1149px 776px #65e4a3, 1983px 898px #65e4a3, 179px 1415px #65e4a3,
      1554px 514px #65e4a3, 1808px 22px #65e4a3, 529px 1687px #65e4a3,
      1123px 1626px #65e4a3, 1031px 269px #65e4a3, 1407px 776px #65e4a3,
      1852px 362px #65e4a3, 1364px 1846px #65e4a3, 863px 62px #65e4a3,
      295px 1881px #65e4a3, 983px 1001px #65e4a3, 1575px 1154px #65e4a3,
      1960px 1212px #65e4a3, 1604px 701px #65e4a3, 1203px 1804px #65e4a3,
      1451px 1659px #65e4a3, 1726px 912px #65e4a3, 1298px 1226px #65e4a3,
      1706px 868px #65e4a3, 1299px 1104px #65e4a3, 1345px 1575px #65e4a3,
      1564px 1799px #65e4a3, 1321px 847px #65e4a3, 150px 341px #65e4a3,
      1610px 270px #65e4a3, 1834px 1649px #65e4a3, 568px 720px #65e4a3,
      1878px 182px #65e4a3, 601px 618px #65e4a3, 336px 1544px #65e4a3,
      129px 110px #65e4a3, 99px 1561px #65e4a3, 953px 343px #65e4a3,
      810px 661px #65e4a3, 1868px 1861px #65e4a3, 430px 1162px #65e4a3,
      1331px 826px #65e4a3, 1097px 980px #65e4a3, 217px 1869px #65e4a3,
      1232px 361px #65e4a3, 1894px 363px #65e4a3, 36px 1455px #65e4a3,
      708px 120px #65e4a3, 1083px 935px #65e4a3, 171px 482px #65e4a3,
      1952px 1480px #65e4a3, 861px 1612px #65e4a3, 1517px 911px #65e4a3,
      1569px 752px #65e4a3, 988px 64px #65e4a3, 1272px 1771px #65e4a3,
      998px 588px #65e4a3, 1095px 578px #65e4a3, 1283px 341px #65e4a3,
      720px 1367px #65e4a3, 833px 1136px #65e4a3, 1865px 1517px #65e4a3,
      1465px 1649px #65e4a3, 1778px 1117px #65e4a3, 549px 246px #65e4a3,
      763px 1805px #65e4a3, 588px 1526px #65e4a3, 875px 944px #65e4a3,
      1959px 964px #65e4a3, 184px 1183px #65e4a3, 763px 149px #65e4a3,
      971px 477px #65e4a3, 262px 1120px #65e4a3, 360px 37px #65e4a3,
      688px 1331px #65e4a3, 931px 1902px #65e4a3, 1705px 1230px #65e4a3,
      1363px 1302px #65e4a3, 1301px 1450px #65e4a3, 1075px 1804px #65e4a3,
      1934px 1461px #65e4a3, 1907px 310px #65e4a3, 814px 837px #65e4a3,
      1828px 1743px #65e4a3, 213px 224px #65e4a3, 1186px 1366px #65e4a3,
      442px 68px #65e4a3, 111px 1225px #65e4a3, 1545px 1218px #65e4a3,
      1085px 1108px #65e4a3, 1078px 187px #65e4a3, 1857px 569px #65e4a3,
      625px 669px #65e4a3, 55px 1694px #65e4a3, 1296px 1266px #65e4a3,
      1711px 1522px #65e4a3, 125px 1604px #65e4a3, 1233px 1614px #65e4a3,
      156px 229px #65e4a3, 862px 1329px #65e4a3, 774px 1112px #65e4a3,
      6px 366px #65e4a3, 1049px 1362px #65e4a3, 1136px 1740px #65e4a3,
      287px 1766px #65e4a3, 1093px 1356px #65e4a3, 1108px 1651px #65e4a3,
      855px 1158px #65e4a3, 1004px 1650px #65e4a3, 26px 1272px #65e4a3,
      125px 1215px #65e4a3, 864px 237px #65e4a3, 1822px 772px #65e4a3,
      268px 740px #65e4a3, 1945px 1178px #65e4a3, 684px 481px #65e4a3,
      546px 24px #65e4a3, 200px 1237px #65e4a3, 1413px 1693px #65e4a3,
      592px 521px #65e4a3, 944px 678px #65e4a3, 1738px 1636px #65e4a3,
      184px 473px #65e4a3, 105px 1205px #65e4a3, 826px 1648px #65e4a3,
      495px 1394px #65e4a3, 182px 1738px #65e4a3, 1868px 615px #65e4a3,
      1313px 23px #65e4a3, 153px 1855px #65e4a3, 342px 1279px #65e4a3,
      1967px 173px #65e4a3, 1839px 813px #65e4a3, 82px 1081px #65e4a3,
      1073px 166px #65e4a3, 270px 1572px #65e4a3, 1608px 1693px #65e4a3,
      1119px 1833px #65e4a3, 1367px 401px #65e4a3, 1630px 1184px #65e4a3,
      1276px 1428px #65e4a3, 384px 304px #65e4a3, 1622px 1259px #65e4a3,
      973px 917px #65e4a3, 1466px 1759px #65e4a3, 290px 280px #65e4a3,
      627px 628px #65e4a3, 1560px 173px #65e4a3, 651px 1016px #65e4a3,
      1072px 1470px #65e4a3, 1709px 351px #65e4a3, 1772px 638px #65e4a3,
      1345px 54px #65e4a3, 1133px 139px #65e4a3, 1365px 1381px #65e4a3,
      1592px 1848px #65e4a3, 778px 856px #65e4a3, 702px 199px #65e4a3,
      1838px 298px #65e4a3, 1412px 1626px #65e4a3, 342px 1885px #65e4a3,
      419px 1568px #65e4a3, 1001px 761px #65e4a3, 574px 107px #65e4a3,
      747px 335px #65e4a3, 1062px 1944px #65e4a3, 165px 779px #65e4a3,
      1688px 483px #65e4a3, 380px 1091px #65e4a3, 862px 922px #65e4a3,
      729px 1154px #65e4a3, 1003px 1147px #65e4a3, 1282px 1978px #65e4a3,
      552px 528px #65e4a3, 1225px 931px #65e4a3, 1854px 420px #65e4a3,
      1524px 568px #65e4a3, 1980px 1762px #65e4a3, 440px 1320px #65e4a3,
      193px 1324px #65e4a3, 1933px 752px #65e4a3, 1292px 106px #65e4a3,
      919px 505px #65e4a3, 569px 1389px #65e4a3, 957px 556px #65e4a3,
      1933px 1877px #65e4a3, 1715px 1905px #65e4a3, 402px 1175px #65e4a3,
      511px 430px #65e4a3, 1395px 1109px #65e4a3, 384px 1347px #65e4a3,
      1727px 354px #65e4a3, 28px 367px #65e4a3, 1379px 75px #65e4a3,
      1189px 1041px #65e4a3, 1458px 1234px #65e4a3, 1726px 460px #65e4a3,
      424px 724px #65e4a3, 1560px 1794px #65e4a3, 104px 268px #65e4a3,
      1842px 1272px #65e4a3, 1720px 985px #65e4a3, 408px 1161px #65e4a3,
      209px 1363px #65e4a3, 1866px 1547px #65e4a3, 1204px 319px #65e4a3,
      1297px 161px #65e4a3, 1434px 578px #65e4a3, 1644px 36px #65e4a3,
      433px 1036px #65e4a3, 585px 1990px #65e4a3, 605px 685px #65e4a3,
      1122px 39px #65e4a3, 780px 1090px #65e4a3, 1968px 428px #65e4a3,
      1938px 1791px #65e4a3, 305px 821px #65e4a3, 1756px 581px #65e4a3,
      576px 1133px #65e4a3, 425px 912px #65e4a3, 1322px 1342px #65e4a3,
      1188px 430px #65e4a3, 1778px 421px #65e4a3, 782px 51px #65e4a3,
      1692px 595px #65e4a3, 1572px 1877px #65e4a3, 1238px 1863px #65e4a3,
      271px 1374px #65e4a3, 1095px 749px #65e4a3, 1577px 243px #65e4a3,
      479px 1756px #65e4a3, 1431px 1554px #65e4a3, 1790px 600px #65e4a3,
      563px 1156px #65e4a3, 794px 558px #65e4a3, 483px 1753px #65e4a3,
      1605px 1817px #65e4a3, 1902px 331px #65e4a3, 1439px 1035px #65e4a3,
      1276px 1446px #65e4a3, 210px 398px #65e4a3, 1299px 1176px #65e4a3,
      786px 1448px #65e4a3, 175px 1294px #65e4a3, 1215px 1873px #65e4a3,
      68px 520px #65e4a3, 250px 1646px #65e4a3, 1750px 769px #65e4a3,
      1490px 1632px #65e4a3, 1679px 547px #65e4a3, 72px 230px #65e4a3,
      1253px 970px #65e4a3, 727px 1603px #65e4a3, 1148px 1470px #65e4a3,
      963px 1737px #65e4a3, 734px 1777px #65e4a3, 665px 1979px #65e4a3,
      1068px 855px #65e4a3, 782px 1870px #65e4a3, 1547px 650px #65e4a3,
      1825px 1881px #65e4a3, 1079px 709px #65e4a3, 770px 1671px #65e4a3,
      1046px 1259px #65e4a3, 123px 1372px #65e4a3, 168px 1766px #65e4a3,
      691px 778px #65e4a3, 1547px 1367px #65e4a3, 1311px 1058px #65e4a3,
      492px 1663px #65e4a3, 6px 642px #65e4a3, 97px 460px #65e4a3,
      843px 1548px #65e4a3, 226px 566px #65e4a3, 995px 656px #65e4a3,
      973px 889px #65e4a3, 1074px 537px #65e4a3, 1943px 1156px #65e4a3,
      1353px 1815px #65e4a3, 1226px 1425px #65e4a3, 88px 1285px #65e4a3,
      1846px 356px #65e4a3, 1831px 309px #65e4a3, 1389px 1332px #65e4a3,
      70px 800px #65e4a3, 1646px 1026px #65e4a3, 1629px 203px #65e4a3,
      1181px 1291px #65e4a3, 367px 432px #65e4a3, 1400px 1479px #65e4a3,
      1422px 295px #65e4a3, 984px 26px #65e4a3, 1696px 1257px #65e4a3,
      1140px 1166px #65e4a3, 890px 1113px #65e4a3, 1595px 396px #65e4a3,
      1361px 783px #65e4a3, 1465px 1462px #65e4a3, 1099px 1339px #65e4a3,
      1836px 799px #65e4a3, 1651px 968px #65e4a3, 1316px 1191px #65e4a3,
      1741px 851px #65e4a3, 388px 1288px #65e4a3, 1873px 636px #65e4a3,
      1747px 697px #65e4a3, 974px 1807px #65e4a3, 1287px 917px #65e4a3,
      1175px 1840px #65e4a3, 1749px 682px #65e4a3, 517px 891px #65e4a3,
      1713px 524px #65e4a3, 1515px 1997px #65e4a3, 1672px 355px #65e4a3,
      1493px 706px #65e4a3, 1130px 1997px #65e4a3, 54px 918px #65e4a3,
      431px 1586px #65e4a3, 1526px 895px #65e4a3, 1788px 1013px #65e4a3,
      929px 1785px #65e4a3, 1416px 1714px #65e4a3, 402px 1194px #65e4a3,
      1505px 1741px #65e4a3, 1293px 152px #65e4a3, 844px 1265px #65e4a3,
      765px 1628px #65e4a3, 1798px 733px #65e4a3, 741px 1125px #65e4a3,
      677px 1386px #65e4a3, 1825px 928px #65e4a3, 779px 647px #65e4a3,
      987px 1789px #65e4a3, 499px 1608px #65e4a3, 1203px 1966px #65e4a3,
      1600px 1735px #65e4a3, 915px 1717px #65e4a3, 177px 1513px #65e4a3,
      1130px 767px #65e4a3, 5px 1256px #65e4a3, 548px 1810px #65e4a3,
      1874px 202px #65e4a3, 320px 1141px #65e4a3, 959px 869px #65e4a3,
      403px 1336px #65e4a3, 380px 140px #65e4a3, 1832px 1455px #65e4a3,
      388px 371px #65e4a3, 1657px 607px #65e4a3, 191px 90px #65e4a3,
      610px 645px #65e4a3, 1753px 192px #65e4a3, 147px 1995px #65e4a3,
      1558px 854px #65e4a3, 722px 1863px #65e4a3, 277px 1763px #65e4a3,
      1588px 1813px #65e4a3, 1603px 572px #65e4a3, 1555px 447px #65e4a3,
      728px 530px #65e4a3, 163px 553px #65e4a3, 1249px 1772px #65e4a3,
      1979px 1221px #65e4a3, 569px 624px #65e4a3, 917px 1092px #65e4a3,
      556px 632px #65e4a3, 139px 1333px #65e4a3, 599px 939px #65e4a3,
      1450px 268px #65e4a3, 1170px 953px #65e4a3, 1444px 315px #65e4a3,
      1673px 899px #65e4a3, 709px 311px #65e4a3, 1585px 811px #65e4a3,
      958px 1847px #65e4a3, 576px 1328px #65e4a3, 1763px 970px #65e4a3,
      1134px 793px #65e4a3, 349px 1028px #65e4a3, 541px 529px #65e4a3,
      1369px 1571px #65e4a3, 1359px 1847px #65e4a3, 1209px 950px #65e4a3,
      921px 1308px #65e4a3, 51px 1902px #65e4a3, 751px 1077px #65e4a3,
      1320px 1194px #65e4a3, 825px 1441px #65e4a3, 1631px 167px #65e4a3,
      256px 67px #65e4a3, 684px 602px #65e4a3, 1093px 938px #65e4a3,
      1637px 164px #65e4a3, 295px 283px #65e4a3, 469px 1333px #65e4a3,
      139px 225px #65e4a3, 18px 327px #65e4a3, 1383px 707px #65e4a3,
      1590px 1348px #65e4a3, 667px 1940px #65e4a3, 1076px 710px #65e4a3,
      1000px 1182px #65e4a3, 1579px 1347px #65e4a3, 965px 318px #65e4a3,
      236px 644px #65e4a3, 1786px 1709px #65e4a3, 42px 1609px #65e4a3,
      1135px 1585px #65e4a3, 1815px 1337px #65e4a3, 1426px 1702px #65e4a3,
      1194px 1875px #65e4a3, 1350px 654px #65e4a3, 1528px 838px #65e4a3,
      1975px 920px #65e4a3, 91px 1638px #65e4a3, 1493px 1005px #65e4a3,
      1613px 1255px #65e4a3, 1829px 1666px #65e4a3, 330px 1488px #65e4a3,
      1799px 400px #65e4a3, 1605px 1759px #65e4a3, 1525px 1479px #65e4a3,
      1017px 1583px #65e4a3, 1466px 1417px #65e4a3, 721px 1252px #65e4a3,
      1223px 1472px #65e4a3, 1887px 1629px #65e4a3, 57px 537px #65e4a3,
      1175px 1861px #65e4a3, 311px 1578px #65e4a3, 381px 556px #65e4a3,
      1058px 1981px #65e4a3;
    animation: animStar 50s linear infinite;
  }
  .stars_1:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 504px 1751px #65e4a3, 14px 226px #65e4a3, 1375px 1506px #65e4a3,
      1776px 1121px #65e4a3, 1934px 1541px #65e4a3, 1843px 192px #65e4a3,
      1537px 830px #65e4a3, 1817px 1024px #65e4a3, 1147px 828px #65e4a3,
      572px 815px #65e4a3, 1395px 1622px #65e4a3, 1352px 1388px #65e4a3,
      1767px 855px #65e4a3, 166px 571px #65e4a3, 1027px 354px #65e4a3,
      1616px 1361px #65e4a3, 885px 1763px #65e4a3, 1362px 1834px #65e4a3,
      161px 571px #65e4a3, 842px 1276px #65e4a3, 1077px 910px #65e4a3,
      1330px 1430px #65e4a3, 1261px 862px #65e4a3, 749px 1903px #65e4a3,
      1762px 1243px #65e4a3, 35px 1541px #65e4a3, 1367px 358px #65e4a3,
      1457px 886px #65e4a3, 836px 1104px #65e4a3, 1943px 1105px #65e4a3,
      504px 311px #65e4a3, 361px 268px #65e4a3, 830px 69px #65e4a3,
      1662px 809px #65e4a3, 463px 336px #65e4a3, 1968px 1714px #65e4a3,
      1826px 871px #65e4a3, 962px 838px #65e4a3, 205px 488px #65e4a3,
      1068px 1972px #65e4a3, 1199px 1257px #65e4a3, 1977px 1689px #65e4a3,
      509px 856px #65e4a3, 58px 1776px #65e4a3, 1305px 621px #65e4a3,
      1089px 1669px #65e4a3, 725px 1389px #65e4a3, 1829px 1629px #65e4a3,
      1344px 1265px #65e4a3, 1742px 1331px #65e4a3, 1077px 722px #65e4a3,
      1178px 1316px #65e4a3, 566px 543px #65e4a3, 1313px 648px #65e4a3,
      998px 1817px #65e4a3, 87px 1606px #65e4a3, 954px 366px #65e4a3,
      1375px 1483px #65e4a3, 1344px 1771px #65e4a3, 1619px 12px #65e4a3,
      505px 153px #65e4a3, 1078px 631px #65e4a3, 403px 356px #65e4a3,
      1944px 1329px #65e4a3, 520px 1039px #65e4a3, 1415px 956px #65e4a3,
      196px 1197px #65e4a3, 1615px 1318px #65e4a3, 1287px 240px #65e4a3,
      872px 1449px #65e4a3, 1518px 992px #65e4a3, 614px 1500px #65e4a3,
      369px 465px #65e4a3, 195px 1840px #65e4a3, 1045px 745px #65e4a3,
      837px 100px #65e4a3, 117px 310px #65e4a3, 1995px 1708px #65e4a3,
      1059px 1090px #65e4a3, 900px 1881px #65e4a3, 738px 111px #65e4a3,
      1411px 1088px #65e4a3, 1520px 1071px #65e4a3, 1865px 1771px #65e4a3,
      364px 1110px #65e4a3, 1277px 1930px #65e4a3, 956px 1685px #65e4a3,
      793px 289px #65e4a3, 1937px 344px #65e4a3, 912px 627px #65e4a3,
      1088px 895px #65e4a3, 405px 706px #65e4a3, 958px 1167px #65e4a3,
      579px 1904px #65e4a3, 1095px 1903px #65e4a3, 1390px 1283px #65e4a3,
      1644px 235px #65e4a3, 1647px 438px #65e4a3, 1388px 1281px #65e4a3,
      1684px 333px #65e4a3, 1896px 342px #65e4a3, 1583px 1258px #65e4a3,
      295px 467px #65e4a3, 853px 1330px #65e4a3, 1477px 1716px #65e4a3,
      1510px 1540px #65e4a3, 1106px 967px #65e4a3, 1511px 1153px #65e4a3,
      1482px 186px #65e4a3, 1678px 524px #65e4a3, 1207px 957px #65e4a3,
      295px 1709px #65e4a3, 200px 1275px #65e4a3, 633px 1473px #65e4a3,
      1595px 720px #65e4a3, 228px 324px #65e4a3, 964px 174px #65e4a3,
      140px 961px #65e4a3, 1149px 1193px #65e4a3, 1980px 1614px #65e4a3,
      621px 69px #65e4a3, 657px 137px #65e4a3, 1593px 1594px #65e4a3,
      1951px 276px #65e4a3, 669px 980px #65e4a3, 651px 1356px #65e4a3,
      1732px 802px #65e4a3, 1173px 856px #65e4a3, 1418px 818px #65e4a3,
      1011px 741px #65e4a3, 837px 590px #65e4a3, 570px 381px #65e4a3,
      773px 1559px #65e4a3, 439px 1625px #65e4a3, 469px 150px #65e4a3,
      1911px 1648px #65e4a3, 489px 966px #65e4a3, 1752px 1299px #65e4a3,
      1311px 1579px #65e4a3, 1278px 977px #65e4a3, 1028px 1556px #65e4a3,
      127px 551px #65e4a3, 612px 1600px #65e4a3, 397px 177px #65e4a3,
      713px 289px #65e4a3, 438px 38px #65e4a3, 228px 543px #65e4a3,
      1729px 936px #65e4a3, 1895px 1657px #65e4a3, 1391px 1246px #65e4a3,
      820px 433px #65e4a3, 291px 1422px #65e4a3, 1386px 1389px #65e4a3,
      383px 1077px #65e4a3, 451px 11px #65e4a3, 1877px 761px #65e4a3,
      176px 194px #65e4a3, 863px 102px #65e4a3, 1955px 416px #65e4a3,
      363px 1408px #65e4a3, 1136px 1746px #65e4a3, 1944px 1581px #65e4a3,
      1849px 1768px #65e4a3, 1880px 941px #65e4a3, 1354px 1108px #65e4a3,
      787px 345px #65e4a3, 797px 1441px #65e4a3, 384px 1251px #65e4a3,
      256px 899px #65e4a3, 586px 1113px #65e4a3, 1409px 588px #65e4a3,
      596px 611px #65e4a3, 673px 1573px #65e4a3, 1386px 55px #65e4a3,
      961px 140px #65e4a3, 580px 497px #65e4a3, 1475px 846px #65e4a3,
      1272px 145px #65e4a3, 1151px 1177px #65e4a3, 1226px 1549px #65e4a3,
      143px 651px #65e4a3, 768px 1999px #65e4a3, 759px 1087px #65e4a3,
      609px 186px #65e4a3, 1473px 1644px #65e4a3, 1607px 123px #65e4a3,
      1698px 1920px #65e4a3, 1362px 886px #65e4a3, 1890px 1102px #65e4a3,
      1000px 1255px #65e4a3, 1372px 1705px #65e4a3, 965px 1752px #65e4a3,
      228px 1612px #65e4a3, 1941px 736px #65e4a3, 548px 1783px #65e4a3,
      1788px 1634px #65e4a3, 1650px 228px #65e4a3, 903px 871px #65e4a3,
      1155px 529px #65e4a3, 1091px 253px #65e4a3, 647px 1730px #65e4a3,
      1340px 440px #65e4a3, 604px 417px #65e4a3, 692px 146px #65e4a3,
      1704px 286px #65e4a3, 1057px 27px #65e4a3, 360px 213px #65e4a3,
      251px 326px #65e4a3, 357px 647px #65e4a3, 1876px 17px #65e4a3,
      404px 1523px #65e4a3, 293px 1149px #65e4a3, 1155px 1px #65e4a3,
      1807px 1354px #65e4a3, 24px 187px #65e4a3, 171px 79px #65e4a3,
      1309px 486px #65e4a3, 1499px 1379px #65e4a3, 1271px 1363px #65e4a3,
      1026px 1023px #65e4a3, 618px 1872px #65e4a3, 1402px 637px #65e4a3,
      1185px 1079px #65e4a3, 884px 1530px #65e4a3, 1010px 1249px #65e4a3,
      1108px 1998px #65e4a3, 1056px 984px #65e4a3, 1889px 903px #65e4a3,
      1375px 1274px #65e4a3, 500px 1270px #65e4a3, 1094px 1187px #65e4a3,
      583px 996px #65e4a3, 792px 1456px #65e4a3, 675px 956px #65e4a3,
      843px 1063px #65e4a3, 427px 860px #65e4a3, 434px 1537px #65e4a3,
      4px 932px #65e4a3, 596px 1195px #65e4a3, 201px 1851px #65e4a3,
      705px 989px #65e4a3, 1788px 4px #65e4a3, 1584px 575px #65e4a3,
      394px 1913px #65e4a3, 1113px 67px #65e4a3, 851px 904px #65e4a3,
      1622px 254px #65e4a3, 1839px 513px #65e4a3, 588px 1533px #65e4a3,
      648px 1056px #65e4a3, 1541px 1325px #65e4a3, 871px 1419px #65e4a3,
      728px 282px #65e4a3, 257px 972px #65e4a3, 1391px 491px #65e4a3,
      549px 1143px #65e4a3, 1140px 98px #65e4a3, 358px 1983px #65e4a3,
      1846px 385px #65e4a3, 578px 1351px #65e4a3, 731px 1818px #65e4a3,
      882px 1034px #65e4a3, 94px 842px #65e4a3, 1672px 975px #65e4a3,
      1258px 1736px #65e4a3, 1040px 1661px #65e4a3, 984px 205px #65e4a3,
      77px 1086px #65e4a3, 1184px 413px #65e4a3, 325px 1394px #65e4a3,
      1149px 776px #65e4a3, 1983px 898px #65e4a3, 179px 1415px #65e4a3,
      1554px 514px #65e4a3, 1808px 22px #65e4a3, 529px 1687px #65e4a3,
      1123px 1626px #65e4a3, 1031px 269px #65e4a3, 1407px 776px #65e4a3,
      1852px 362px #65e4a3, 1364px 1846px #65e4a3, 863px 62px #65e4a3,
      295px 1881px #65e4a3, 983px 1001px #65e4a3, 1575px 1154px #65e4a3,
      1960px 1212px #65e4a3, 1604px 701px #65e4a3, 1203px 1804px #65e4a3,
      1451px 1659px #65e4a3, 1726px 912px #65e4a3, 1298px 1226px #65e4a3,
      1706px 868px #65e4a3, 1299px 1104px #65e4a3, 1345px 1575px #65e4a3,
      1564px 1799px #65e4a3, 1321px 847px #65e4a3, 150px 341px #65e4a3,
      1610px 270px #65e4a3, 1834px 1649px #65e4a3, 568px 720px #65e4a3,
      1878px 182px #65e4a3, 601px 618px #65e4a3, 336px 1544px #65e4a3,
      129px 110px #65e4a3, 99px 1561px #65e4a3, 953px 343px #65e4a3,
      810px 661px #65e4a3, 1868px 1861px #65e4a3, 430px 1162px #65e4a3,
      1331px 826px #65e4a3, 1097px 980px #65e4a3, 217px 1869px #65e4a3,
      1232px 361px #65e4a3, 1894px 363px #65e4a3, 36px 1455px #65e4a3,
      708px 120px #65e4a3, 1083px 935px #65e4a3, 171px 482px #65e4a3,
      1952px 1480px #65e4a3, 861px 1612px #65e4a3, 1517px 911px #65e4a3,
      1569px 752px #65e4a3, 988px 64px #65e4a3, 1272px 1771px #65e4a3,
      998px 588px #65e4a3, 1095px 578px #65e4a3, 1283px 341px #65e4a3,
      720px 1367px #65e4a3, 833px 1136px #65e4a3, 1865px 1517px #65e4a3,
      1465px 1649px #65e4a3, 1778px 1117px #65e4a3, 549px 246px #65e4a3,
      763px 1805px #65e4a3, 588px 1526px #65e4a3, 875px 944px #65e4a3,
      1959px 964px #65e4a3, 184px 1183px #65e4a3, 763px 149px #65e4a3,
      971px 477px #65e4a3, 262px 1120px #65e4a3, 360px 37px #65e4a3,
      688px 1331px #65e4a3, 931px 1902px #65e4a3, 1705px 1230px #65e4a3,
      1363px 1302px #65e4a3, 1301px 1450px #65e4a3, 1075px 1804px #65e4a3,
      1934px 1461px #65e4a3, 1907px 310px #65e4a3, 814px 837px #65e4a3,
      1828px 1743px #65e4a3, 213px 224px #65e4a3, 1186px 1366px #65e4a3,
      442px 68px #65e4a3, 111px 1225px #65e4a3, 1545px 1218px #65e4a3,
      1085px 1108px #65e4a3, 1078px 187px #65e4a3, 1857px 569px #65e4a3,
      625px 669px #65e4a3, 55px 1694px #65e4a3, 1296px 1266px #65e4a3,
      1711px 1522px #65e4a3, 125px 1604px #65e4a3, 1233px 1614px #65e4a3,
      156px 229px #65e4a3, 862px 1329px #65e4a3, 774px 1112px #65e4a3,
      6px 366px #65e4a3, 1049px 1362px #65e4a3, 1136px 1740px #65e4a3,
      287px 1766px #65e4a3, 1093px 1356px #65e4a3, 1108px 1651px #65e4a3,
      855px 1158px #65e4a3, 1004px 1650px #65e4a3, 26px 1272px #65e4a3,
      125px 1215px #65e4a3, 864px 237px #65e4a3, 1822px 772px #65e4a3,
      268px 740px #65e4a3, 1945px 1178px #65e4a3, 684px 481px #65e4a3,
      546px 24px #65e4a3, 200px 1237px #65e4a3, 1413px 1693px #65e4a3,
      592px 521px #65e4a3, 944px 678px #65e4a3, 1738px 1636px #65e4a3,
      184px 473px #65e4a3, 105px 1205px #65e4a3, 826px 1648px #65e4a3,
      495px 1394px #65e4a3, 182px 1738px #65e4a3, 1868px 615px #65e4a3,
      1313px 23px #65e4a3, 153px 1855px #65e4a3, 342px 1279px #65e4a3,
      1967px 173px #65e4a3, 1839px 813px #65e4a3, 82px 1081px #65e4a3,
      1073px 166px #65e4a3, 270px 1572px #65e4a3, 1608px 1693px #65e4a3,
      1119px 1833px #65e4a3, 1367px 401px #65e4a3, 1630px 1184px #65e4a3,
      1276px 1428px #65e4a3, 384px 304px #65e4a3, 1622px 1259px #65e4a3,
      973px 917px #65e4a3, 1466px 1759px #65e4a3, 290px 280px #65e4a3,
      627px 628px #65e4a3, 1560px 173px #65e4a3, 651px 1016px #65e4a3,
      1072px 1470px #65e4a3, 1709px 351px #65e4a3, 1772px 638px #65e4a3,
      1345px 54px #65e4a3, 1133px 139px #65e4a3, 1365px 1381px #65e4a3,
      1592px 1848px #65e4a3, 778px 856px #65e4a3, 702px 199px #65e4a3,
      1838px 298px #65e4a3, 1412px 1626px #65e4a3, 342px 1885px #65e4a3,
      419px 1568px #65e4a3, 1001px 761px #65e4a3, 574px 107px #65e4a3,
      747px 335px #65e4a3, 1062px 1944px #65e4a3, 165px 779px #65e4a3,
      1688px 483px #65e4a3, 380px 1091px #65e4a3, 862px 922px #65e4a3,
      729px 1154px #65e4a3, 1003px 1147px #65e4a3, 1282px 1978px #65e4a3,
      552px 528px #65e4a3, 1225px 931px #65e4a3, 1854px 420px #65e4a3,
      1524px 568px #65e4a3, 1980px 1762px #65e4a3, 440px 1320px #65e4a3,
      193px 1324px #65e4a3, 1933px 752px #65e4a3, 1292px 106px #65e4a3,
      919px 505px #65e4a3, 569px 1389px #65e4a3, 957px 556px #65e4a3,
      1933px 1877px #65e4a3, 1715px 1905px #65e4a3, 402px 1175px #65e4a3,
      511px 430px #65e4a3, 1395px 1109px #65e4a3, 384px 1347px #65e4a3,
      1727px 354px #65e4a3, 28px 367px #65e4a3, 1379px 75px #65e4a3,
      1189px 1041px #65e4a3, 1458px 1234px #65e4a3, 1726px 460px #65e4a3,
      424px 724px #65e4a3, 1560px 1794px #65e4a3, 104px 268px #65e4a3,
      1842px 1272px #65e4a3, 1720px 985px #65e4a3, 408px 1161px #65e4a3,
      209px 1363px #65e4a3, 1866px 1547px #65e4a3, 1204px 319px #65e4a3,
      1297px 161px #65e4a3, 1434px 578px #65e4a3, 1644px 36px #65e4a3,
      433px 1036px #65e4a3, 585px 1990px #65e4a3, 605px 685px #65e4a3,
      1122px 39px #65e4a3, 780px 1090px #65e4a3, 1968px 428px #65e4a3,
      1938px 1791px #65e4a3, 305px 821px #65e4a3, 1756px 581px #65e4a3,
      576px 1133px #65e4a3, 425px 912px #65e4a3, 1322px 1342px #65e4a3,
      1188px 430px #65e4a3, 1778px 421px #65e4a3, 782px 51px #65e4a3,
      1692px 595px #65e4a3, 1572px 1877px #65e4a3, 1238px 1863px #65e4a3,
      271px 1374px #65e4a3, 1095px 749px #65e4a3, 1577px 243px #65e4a3,
      479px 1756px #65e4a3, 1431px 1554px #65e4a3, 1790px 600px #65e4a3,
      563px 1156px #65e4a3, 794px 558px #65e4a3, 483px 1753px #65e4a3,
      1605px 1817px #65e4a3, 1902px 331px #65e4a3, 1439px 1035px #65e4a3,
      1276px 1446px #65e4a3, 210px 398px #65e4a3, 1299px 1176px #65e4a3,
      786px 1448px #65e4a3, 175px 1294px #65e4a3, 1215px 1873px #65e4a3,
      68px 520px #65e4a3, 250px 1646px #65e4a3, 1750px 769px #65e4a3,
      1490px 1632px #65e4a3, 1679px 547px #65e4a3, 72px 230px #65e4a3,
      1253px 970px #65e4a3, 727px 1603px #65e4a3, 1148px 1470px #65e4a3,
      963px 1737px #65e4a3, 734px 1777px #65e4a3, 665px 1979px #65e4a3,
      1068px 855px #65e4a3, 782px 1870px #65e4a3, 1547px 650px #65e4a3,
      1825px 1881px #65e4a3, 1079px 709px #65e4a3, 770px 1671px #65e4a3,
      1046px 1259px #65e4a3, 123px 1372px #65e4a3, 168px 1766px #65e4a3,
      691px 778px #65e4a3, 1547px 1367px #65e4a3, 1311px 1058px #65e4a3,
      492px 1663px #65e4a3, 6px 642px #65e4a3, 97px 460px #65e4a3,
      843px 1548px #65e4a3, 226px 566px #65e4a3, 995px 656px #65e4a3,
      973px 889px #65e4a3, 1074px 537px #65e4a3, 1943px 1156px #65e4a3,
      1353px 1815px #65e4a3, 1226px 1425px #65e4a3, 88px 1285px #65e4a3,
      1846px 356px #65e4a3, 1831px 309px #65e4a3, 1389px 1332px #65e4a3,
      70px 800px #65e4a3, 1646px 1026px #65e4a3, 1629px 203px #65e4a3,
      1181px 1291px #65e4a3, 367px 432px #65e4a3, 1400px 1479px #65e4a3,
      1422px 295px #65e4a3, 984px 26px #65e4a3, 1696px 1257px #65e4a3,
      1140px 1166px #65e4a3, 890px 1113px #65e4a3, 1595px 396px #65e4a3,
      1361px 783px #65e4a3, 1465px 1462px #65e4a3, 1099px 1339px #65e4a3,
      1836px 799px #65e4a3, 1651px 968px #65e4a3, 1316px 1191px #65e4a3,
      1741px 851px #65e4a3, 388px 1288px #65e4a3, 1873px 636px #65e4a3,
      1747px 697px #65e4a3, 974px 1807px #65e4a3, 1287px 917px #65e4a3,
      1175px 1840px #65e4a3, 1749px 682px #65e4a3, 517px 891px #65e4a3,
      1713px 524px #65e4a3, 1515px 1997px #65e4a3, 1672px 355px #65e4a3,
      1493px 706px #65e4a3, 1130px 1997px #65e4a3, 54px 918px #65e4a3,
      431px 1586px #65e4a3, 1526px 895px #65e4a3, 1788px 1013px #65e4a3,
      929px 1785px #65e4a3, 1416px 1714px #65e4a3, 402px 1194px #65e4a3,
      1505px 1741px #65e4a3, 1293px 152px #65e4a3, 844px 1265px #65e4a3,
      765px 1628px #65e4a3, 1798px 733px #65e4a3, 741px 1125px #65e4a3,
      677px 1386px #65e4a3, 1825px 928px #65e4a3, 779px 647px #65e4a3,
      987px 1789px #65e4a3, 499px 1608px #65e4a3, 1203px 1966px #65e4a3,
      1600px 1735px #65e4a3, 915px 1717px #65e4a3, 177px 1513px #65e4a3,
      1130px 767px #65e4a3, 5px 1256px #65e4a3, 548px 1810px #65e4a3,
      1874px 202px #65e4a3, 320px 1141px #65e4a3, 959px 869px #65e4a3,
      403px 1336px #65e4a3, 380px 140px #65e4a3, 1832px 1455px #65e4a3,
      388px 371px #65e4a3, 1657px 607px #65e4a3, 191px 90px #65e4a3,
      610px 645px #65e4a3, 1753px 192px #65e4a3, 147px 1995px #65e4a3,
      1558px 854px #65e4a3, 722px 1863px #65e4a3, 277px 1763px #65e4a3,
      1588px 1813px #65e4a3, 1603px 572px #65e4a3, 1555px 447px #65e4a3,
      728px 530px #65e4a3, 163px 553px #65e4a3, 1249px 1772px #65e4a3,
      1979px 1221px #65e4a3, 569px 624px #65e4a3, 917px 1092px #65e4a3,
      556px 632px #65e4a3, 139px 1333px #65e4a3, 599px 939px #65e4a3,
      1450px 268px #65e4a3, 1170px 953px #65e4a3, 1444px 315px #65e4a3,
      1673px 899px #65e4a3, 709px 311px #65e4a3, 1585px 811px #65e4a3,
      958px 1847px #65e4a3, 576px 1328px #65e4a3, 1763px 970px #65e4a3,
      1134px 793px #65e4a3, 349px 1028px #65e4a3, 541px 529px #65e4a3,
      1369px 1571px #65e4a3, 1359px 1847px #65e4a3, 1209px 950px #65e4a3,
      921px 1308px #65e4a3, 51px 1902px #65e4a3, 751px 1077px #65e4a3,
      1320px 1194px #65e4a3, 825px 1441px #65e4a3, 1631px 167px #65e4a3,
      256px 67px #65e4a3, 684px 602px #65e4a3, 1093px 938px #65e4a3,
      1637px 164px #65e4a3, 295px 283px #65e4a3, 469px 1333px #65e4a3,
      139px 225px #65e4a3, 18px 327px #65e4a3, 1383px 707px #65e4a3,
      1590px 1348px #65e4a3, 667px 1940px #65e4a3, 1076px 710px #65e4a3,
      1000px 1182px #65e4a3, 1579px 1347px #65e4a3, 965px 318px #65e4a3,
      236px 644px #65e4a3, 1786px 1709px #65e4a3, 42px 1609px #65e4a3,
      1135px 1585px #65e4a3, 1815px 1337px #65e4a3, 1426px 1702px #65e4a3,
      1194px 1875px #65e4a3, 1350px 654px #65e4a3, 1528px 838px #65e4a3,
      1975px 920px #65e4a3, 91px 1638px #65e4a3, 1493px 1005px #65e4a3,
      1613px 1255px #65e4a3, 1829px 1666px #65e4a3, 330px 1488px #65e4a3,
      1799px 400px #65e4a3, 1605px 1759px #65e4a3, 1525px 1479px #65e4a3,
      1017px 1583px #65e4a3, 1466px 1417px #65e4a3, 721px 1252px #65e4a3,
      1223px 1472px #65e4a3, 1887px 1629px #65e4a3, 57px 537px #65e4a3,
      1175px 1861px #65e4a3, 311px 1578px #65e4a3, 381px 556px #65e4a3,
      1058px 1981px #65e4a3;
  }

  .stars_2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1058px 1138px #0dbbfc, 1909px 1229px #0dbbfc,
      134px 711px #0dbbfc, 546px 1016px #0dbbfc, 758px 933px #0dbbfc,
      1736px 464px #0dbbfc, 821px 177px #0dbbfc, 1399px 879px #0dbbfc,
      66px 1135px #0dbbfc, 343px 1717px #0dbbfc, 533px 244px #0dbbfc,
      1091px 99px #0dbbfc, 230px 548px #0dbbfc, 1771px 362px #0dbbfc,
      793px 641px #0dbbfc, 1113px 913px #0dbbfc, 1917px 497px #0dbbfc,
      756px 764px #0dbbfc, 844px 1153px #0dbbfc, 153px 1103px #0dbbfc,
      777px 239px #0dbbfc, 597px 1449px #0dbbfc, 1791px 617px #0dbbfc,
      682px 754px #0dbbfc, 192px 1482px #0dbbfc, 332px 299px #0dbbfc,
      5px 991px #0dbbfc, 2px 836px #0dbbfc, 1492px 1904px #0dbbfc,
      83px 1612px #0dbbfc, 720px 1341px #0dbbfc, 1282px 1013px #0dbbfc,
      1739px 29px #0dbbfc, 1214px 1570px #0dbbfc, 1577px 1898px #0dbbfc,
      1279px 1261px #0dbbfc, 1149px 201px #0dbbfc, 1852px 1158px #0dbbfc,
      265px 255px #0dbbfc, 98px 1257px #0dbbfc, 957px 414px #0dbbfc,
      930px 1974px #0dbbfc, 1096px 486px #0dbbfc, 420px 593px #0dbbfc,
      116px 55px #0dbbfc, 1705px 1181px #0dbbfc, 175px 3px #0dbbfc,
      1222px 148px #0dbbfc, 425px 809px #0dbbfc, 1110px 177px #0dbbfc,
      1460px 913px #0dbbfc, 565px 810px #0dbbfc, 595px 668px #0dbbfc,
      999px 72px #0dbbfc, 1859px 735px #0dbbfc, 432px 1610px #0dbbfc,
      1001px 86px #0dbbfc, 1522px 1902px #0dbbfc, 737px 1690px #0dbbfc,
      1777px 231px #0dbbfc, 1879px 1319px #0dbbfc, 1061px 864px #0dbbfc,
      1037px 1165px #0dbbfc, 704px 1067px #0dbbfc, 796px 1386px #0dbbfc,
      420px 1006px #0dbbfc, 936px 903px #0dbbfc, 633px 438px #0dbbfc,
      1262px 586px #0dbbfc, 543px 1373px #0dbbfc, 90px 1653px #0dbbfc,
      1843px 694px #0dbbfc, 877px 810px #0dbbfc, 846px 982px #0dbbfc,
      457px 121px #0dbbfc, 1173px 214px #0dbbfc, 1868px 573px #0dbbfc,
      1874px 86px #0dbbfc, 400px 518px #0dbbfc, 248px 1674px #0dbbfc,
      1190px 1949px #0dbbfc, 1746px 472px #0dbbfc, 989px 148px #0dbbfc,
      1701px 1054px #0dbbfc, 902px 552px #0dbbfc, 1595px 216px #0dbbfc,
      908px 1282px #0dbbfc, 1059px 647px #0dbbfc, 1612px 487px #0dbbfc,
      1367px 801px #0dbbfc, 951px 1731px #0dbbfc, 1468px 1357px #0dbbfc,
      1292px 1525px #0dbbfc, 349px 1077px #0dbbfc, 1620px 990px #0dbbfc,
      22px 303px #0dbbfc, 1687px 835px #0dbbfc, 1849px 1414px #0dbbfc,
      971px 1891px #0dbbfc, 258px 1541px #0dbbfc, 1295px 973px #0dbbfc,
      1025px 440px #0dbbfc, 331px 883px #0dbbfc, 656px 768px #0dbbfc,
      954px 724px #0dbbfc, 1134px 1535px #0dbbfc, 163px 859px #0dbbfc,
      804px 471px #0dbbfc, 1013px 1546px #0dbbfc, 1061px 1141px #0dbbfc,
      1139px 1968px #0dbbfc, 857px 435px #0dbbfc, 1200px 209px #0dbbfc,
      1281px 1531px #0dbbfc, 824px 1431px #0dbbfc, 1687px 608px #0dbbfc,
      1098px 1635px #0dbbfc, 128px 101px #0dbbfc, 475px 1429px #0dbbfc,
      1162px 986px #0dbbfc, 350px 1095px #0dbbfc, 1779px 446px #0dbbfc,
      438px 747px #0dbbfc, 1254px 764px #0dbbfc, 923px 492px #0dbbfc,
      1321px 76px #0dbbfc, 432px 1111px #0dbbfc, 1590px 201px #0dbbfc,
      1163px 1181px #0dbbfc, 1468px 816px #0dbbfc, 1477px 1489px #0dbbfc,
      1525px 1702px #0dbbfc, 176px 952px #0dbbfc, 509px 990px #0dbbfc,
      61px 1640px #0dbbfc, 1465px 194px #0dbbfc, 272px 1200px #0dbbfc,
      594px 1386px #0dbbfc, 1610px 1229px #0dbbfc, 1850px 1862px #0dbbfc,
      1081px 1843px #0dbbfc, 1724px 972px #0dbbfc, 188px 305px #0dbbfc,
      1069px 1272px #0dbbfc, 1999px 991px #0dbbfc, 470px 1611px #0dbbfc,
      357px 1849px #0dbbfc, 963px 1112px #0dbbfc, 1478px 1177px #0dbbfc,
      1198px 1600px #0dbbfc, 953px 208px #0dbbfc, 1497px 1504px #0dbbfc,
      1237px 646px #0dbbfc, 478px 174px #0dbbfc, 915px 765px #0dbbfc,
      1000px 169px #0dbbfc, 977px 766px #0dbbfc, 793px 504px #0dbbfc,
      1340px 713px #0dbbfc, 1079px 1669px #0dbbfc, 138px 952px #0dbbfc,
      914px 1210px #0dbbfc, 1339px 605px #0dbbfc, 628px 1352px #0dbbfc,
      108px 1256px #0dbbfc, 1869px 1085px #0dbbfc, 1852px 825px #0dbbfc,
      1264px 1497px #0dbbfc, 192px 942px #0dbbfc, 1598px 1583px #0dbbfc,
      1723px 1035px #0dbbfc, 381px 906px #0dbbfc, 173px 1385px #0dbbfc,
      159px 474px #0dbbfc, 755px 1042px #0dbbfc, 1306px 1173px #0dbbfc,
      578px 674px #0dbbfc, 1738px 301px #0dbbfc, 1171px 1487px #0dbbfc,
      671px 781px #0dbbfc, 170px 523px #0dbbfc, 1546px 1272px #0dbbfc,
      1636px 733px #0dbbfc, 11px 542px #0dbbfc, 1838px 884px #0dbbfc,
      238px 482px #0dbbfc, 338px 1987px #0dbbfc, 1061px 1799px #0dbbfc,
      1299px 398px #0dbbfc, 952px 954px #0dbbfc, 767px 789px #0dbbfc,
      413px 185px #0dbbfc, 1288px 791px #0dbbfc, 591px 1463px #0dbbfc,
      984px 780px #0dbbfc, 1203px 1513px #0dbbfc, 1947px 1926px #0dbbfc,
      1952px 541px #0dbbfc, 486px 237px #0dbbfc, 1746px 883px #0dbbfc;
    animation: animStar 100s linear infinite;
  }
  .stars_2:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1058px 1138px #0dbbfc, 1909px 1229px #0dbbfc,
      134px 711px #0dbbfc, 546px 1016px #0dbbfc, 758px 933px #0dbbfc,
      1736px 464px #0dbbfc, 821px 177px #0dbbfc, 1399px 879px #0dbbfc,
      66px 1135px #0dbbfc, 343px 1717px #0dbbfc, 533px 244px #0dbbfc,
      1091px 99px #0dbbfc, 230px 548px #0dbbfc, 1771px 362px #0dbbfc,
      793px 641px #0dbbfc, 1113px 913px #0dbbfc, 1917px 497px #0dbbfc,
      756px 764px #0dbbfc, 844px 1153px #0dbbfc, 153px 1103px #0dbbfc,
      777px 239px #0dbbfc, 597px 1449px #0dbbfc, 1791px 617px #0dbbfc,
      682px 754px #0dbbfc, 192px 1482px #0dbbfc, 332px 299px #0dbbfc,
      5px 991px #0dbbfc, 2px 836px #0dbbfc, 1492px 1904px #0dbbfc,
      83px 1612px #0dbbfc, 720px 1341px #0dbbfc, 1282px 1013px #0dbbfc,
      1739px 29px #0dbbfc, 1214px 1570px #0dbbfc, 1577px 1898px #0dbbfc,
      1279px 1261px #0dbbfc, 1149px 201px #0dbbfc, 1852px 1158px #0dbbfc,
      265px 255px #0dbbfc, 98px 1257px #0dbbfc, 957px 414px #0dbbfc,
      930px 1974px #0dbbfc, 1096px 486px #0dbbfc, 420px 593px #0dbbfc,
      116px 55px #0dbbfc, 1705px 1181px #0dbbfc, 175px 3px #0dbbfc,
      1222px 148px #0dbbfc, 425px 809px #0dbbfc, 1110px 177px #0dbbfc,
      1460px 913px #0dbbfc, 565px 810px #0dbbfc, 595px 668px #0dbbfc,
      999px 72px #0dbbfc, 1859px 735px #0dbbfc, 432px 1610px #0dbbfc,
      1001px 86px #0dbbfc, 1522px 1902px #0dbbfc, 737px 1690px #0dbbfc,
      1777px 231px #0dbbfc, 1879px 1319px #0dbbfc, 1061px 864px #0dbbfc,
      1037px 1165px #0dbbfc, 704px 1067px #0dbbfc, 796px 1386px #0dbbfc,
      420px 1006px #0dbbfc, 936px 903px #0dbbfc, 633px 438px #0dbbfc,
      1262px 586px #0dbbfc, 543px 1373px #0dbbfc, 90px 1653px #0dbbfc,
      1843px 694px #0dbbfc, 877px 810px #0dbbfc, 846px 982px #0dbbfc,
      457px 121px #0dbbfc, 1173px 214px #0dbbfc, 1868px 573px #0dbbfc,
      1874px 86px #0dbbfc, 400px 518px #0dbbfc, 248px 1674px #0dbbfc,
      1190px 1949px #0dbbfc, 1746px 472px #0dbbfc, 989px 148px #0dbbfc,
      1701px 1054px #0dbbfc, 902px 552px #0dbbfc, 1595px 216px #0dbbfc,
      908px 1282px #0dbbfc, 1059px 647px #0dbbfc, 1612px 487px #0dbbfc,
      1367px 801px #0dbbfc, 951px 1731px #0dbbfc, 1468px 1357px #0dbbfc,
      1292px 1525px #0dbbfc, 349px 1077px #0dbbfc, 1620px 990px #0dbbfc,
      22px 303px #0dbbfc, 1687px 835px #0dbbfc, 1849px 1414px #0dbbfc,
      971px 1891px #0dbbfc, 258px 1541px #0dbbfc, 1295px 973px #0dbbfc,
      1025px 440px #0dbbfc, 331px 883px #0dbbfc, 656px 768px #0dbbfc,
      954px 724px #0dbbfc, 1134px 1535px #0dbbfc, 163px 859px #0dbbfc,
      804px 471px #0dbbfc, 1013px 1546px #0dbbfc, 1061px 1141px #0dbbfc,
      1139px 1968px #0dbbfc, 857px 435px #0dbbfc, 1200px 209px #0dbbfc,
      1281px 1531px #0dbbfc, 824px 1431px #0dbbfc, 1687px 608px #0dbbfc,
      1098px 1635px #0dbbfc, 128px 101px #0dbbfc, 475px 1429px #0dbbfc,
      1162px 986px #0dbbfc, 350px 1095px #0dbbfc, 1779px 446px #0dbbfc,
      438px 747px #0dbbfc, 1254px 764px #0dbbfc, 923px 492px #0dbbfc,
      1321px 76px #0dbbfc, 432px 1111px #0dbbfc, 1590px 201px #0dbbfc,
      1163px 1181px #0dbbfc, 1468px 816px #0dbbfc, 1477px 1489px #0dbbfc,
      1525px 1702px #0dbbfc, 176px 952px #0dbbfc, 509px 990px #0dbbfc,
      61px 1640px #0dbbfc, 1465px 194px #0dbbfc, 272px 1200px #0dbbfc,
      594px 1386px #0dbbfc, 1610px 1229px #0dbbfc, 1850px 1862px #0dbbfc,
      1081px 1843px #0dbbfc, 1724px 972px #0dbbfc, 188px 305px #0dbbfc,
      1069px 1272px #0dbbfc, 1999px 991px #0dbbfc, 470px 1611px #0dbbfc,
      357px 1849px #0dbbfc, 963px 1112px #0dbbfc, 1478px 1177px #0dbbfc,
      1198px 1600px #0dbbfc, 953px 208px #0dbbfc, 1497px 1504px #0dbbfc,
      1237px 646px #0dbbfc, 478px 174px #0dbbfc, 915px 765px #0dbbfc,
      1000px 169px #0dbbfc, 977px 766px #0dbbfc, 793px 504px #0dbbfc,
      1340px 713px #0dbbfc, 1079px 1669px #0dbbfc, 138px 952px #0dbbfc,
      914px 1210px #0dbbfc, 1339px 605px #0dbbfc, 628px 1352px #0dbbfc,
      108px 1256px #0dbbfc, 1869px 1085px #0dbbfc, 1852px 825px #0dbbfc,
      1264px 1497px #0dbbfc, 192px 942px #0dbbfc, 1598px 1583px #0dbbfc,
      1723px 1035px #0dbbfc, 381px 906px #0dbbfc, 173px 1385px #0dbbfc,
      159px 474px #0dbbfc, 755px 1042px #0dbbfc, 1306px 1173px #0dbbfc,
      578px 674px #0dbbfc, 1738px 301px #0dbbfc, 1171px 1487px #0dbbfc,
      671px 781px #0dbbfc, 170px 523px #0dbbfc, 1546px 1272px #0dbbfc,
      1636px 733px #0dbbfc, 11px 542px #0dbbfc, 1838px 884px #0dbbfc,
      238px 482px #0dbbfc, 338px 1987px #0dbbfc, 1061px 1799px #0dbbfc,
      1299px 398px #0dbbfc, 952px 954px #0dbbfc, 767px 789px #0dbbfc,
      413px 185px #0dbbfc, 1288px 791px #0dbbfc, 591px 1463px #0dbbfc,
      984px 780px #0dbbfc, 1203px 1513px #0dbbfc, 1947px 1926px #0dbbfc,
      1952px 541px #0dbbfc, 486px 237px #0dbbfc, 1746px 883px #0dbbfc;
  }

  .stars_3 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1284px 59px #fff, 1283px 1901px #fff, 128px 576px #fff,
      385px 1068px #fff, 1489px 147px #fff, 731px 406px #fff, 745px 1879px #fff,
      1987px 1375px #fff, 1786px 405px #fff, 464px 351px #fff,
      1387px 1015px #fff, 1099px 488px #fff, 795px 499px #fff,
      1202px 1239px #fff, 608px 900px #fff, 811px 1165px #fff, 1556px 997px #fff,
      1271px 481px #fff, 1920px 1605px #fff, 1350px 1963px #fff, 38px 770px #fff,
      643px 1640px #fff, 262px 1385px #fff, 646px 250px #fff, 1411px 758px #fff,
      240px 70px #fff, 1457px 805px #fff, 369px 180px #fff, 1602px 40px #fff,
      1306px 1542px #fff, 164px 217px #fff, 283px 378px #fff, 1849px 1068px #fff,
      1896px 877px #fff, 1295px 1935px #fff, 922px 1310px #fff,
      1037px 1599px #fff, 408px 1855px #fff, 204px 1315px #fff,
      1672px 1022px #fff, 1759px 588px #fff, 1848px 1119px #fff,
      1411px 231px #fff, 1024px 283px #fff, 1976px 1348px #fff,
      866px 1520px #fff, 1867px 1266px #fff, 1742px 1px #fff, 164px 1952px #fff,
      317px 1987px #fff, 1532px 1841px #fff, 805px 1391px #fff,
      1018px 1096px #fff, 83px 1218px #fff, 1816px 1638px #fff,
      760px 1015px #fff, 1455px 584px #fff, 1781px 670px #fff, 1853px 31px #fff,
      1571px 1181px #fff, 57px 1362px #fff, 1299px 1967px #fff,
      1953px 1316px #fff, 96px 1602px #fff, 1266px 893px #fff, 759px 778px #fff,
      1778px 1028px #fff, 1887px 1205px #fff, 622px 115px #fff,
      1338px 1335px #fff, 842px 542px #fff, 990px 410px #fff, 919px 1749px #fff,
      1476px 599px #fff, 515px 989px #fff, 983px 828px #fff, 963px 1994px #fff,
      440px 609px #fff, 1790px 1358px #fff, 1092px 227px #fff,
      1162px 1785px #fff, 1423px 1010px #fff, 1464px 604px #fff,
      315px 122px #fff, 1868px 38px #fff, 1077px 816px #fff, 1335px 509px #fff,
      7px 1485px #fff, 1649px 1789px #fff, 1838px 1583px #fff, 1064px 804px #fff,
      327px 723px #fff, 11px 109px #fff, 1204px 530px #fff, 1088px 1952px #fff,
      432px 932px #fff, 800px 890px #fff, 362px 783px #fff, 913px 86px #fff,
      1843px 1975px #fff;
    animation: animStar 150s linear infinite;
  }
  .stars_3:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1284px 59px #fff, 1283px 1901px #fff, 128px 576px #fff,
      385px 1068px #fff, 1489px 147px #fff, 731px 406px #fff, 745px 1879px #fff,
      1987px 1375px #fff, 1786px 405px #fff, 464px 351px #fff,
      1387px 1015px #fff, 1099px 488px #fff, 795px 499px #fff,
      1202px 1239px #fff, 608px 900px #fff, 811px 1165px #fff, 1556px 997px #fff,
      1271px 481px #fff, 1920px 1605px #fff, 1350px 1963px #fff, 38px 770px #fff,
      643px 1640px #fff, 262px 1385px #fff, 646px 250px #fff, 1411px 758px #fff,
      240px 70px #fff, 1457px 805px #fff, 369px 180px #fff, 1602px 40px #fff,
      1306px 1542px #fff, 164px 217px #fff, 283px 378px #fff, 1849px 1068px #fff,
      1896px 877px #fff, 1295px 1935px #fff, 922px 1310px #fff,
      1037px 1599px #fff, 408px 1855px #fff, 204px 1315px #fff,
      1672px 1022px #fff, 1759px 588px #fff, 1848px 1119px #fff,
      1411px 231px #fff, 1024px 283px #fff, 1976px 1348px #fff,
      866px 1520px #fff, 1867px 1266px #fff, 1742px 1px #fff, 164px 1952px #fff,
      317px 1987px #fff, 1532px 1841px #fff, 805px 1391px #fff,
      1018px 1096px #fff, 83px 1218px #fff, 1816px 1638px #fff,
      760px 1015px #fff, 1455px 584px #fff, 1781px 670px #fff, 1853px 31px #fff,
      1571px 1181px #fff, 57px 1362px #fff, 1299px 1967px #fff,
      1953px 1316px #fff, 96px 1602px #fff, 1266px 893px #fff, 759px 778px #fff,
      1778px 1028px #fff, 1887px 1205px #fff, 622px 115px #fff,
      1338px 1335px #fff, 842px 542px #fff, 990px 410px #fff, 919px 1749px #fff,
      1476px 599px #fff, 515px 989px #fff, 983px 828px #fff, 963px 1994px #fff,
      440px 609px #fff, 1790px 1358px #fff, 1092px 227px #fff,
      1162px 1785px #fff, 1423px 1010px #fff, 1464px 604px #fff,
      315px 122px #fff, 1868px 38px #fff, 1077px 816px #fff, 1335px 509px #fff,
      7px 1485px #fff, 1649px 1789px #fff, 1838px 1583px #fff, 1064px 804px #fff,
      327px 723px #fff, 11px 109px #fff, 1204px 530px #fff, 1088px 1952px #fff,
      432px 932px #fff, 800px 890px #fff, 362px 783px #fff, 913px 86px #fff,
      1843px 1975px #fff;
  }
}
@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}
