@tailwind base;
@tailwind components;
@tailwind utilities;


:root { 
  --black: #000000; 
  --dark: #121212; 
  --white: #ffffff; 
  --white-second: #f4f6f8; 
  --light-grey: #929292; 
  --dark-grey: #4d4d4d; 
  --error: #ed1c24; 
  --blue: #334fb4; 
  --green: #1a8000; 
  --blue: #334fb4; 
}

.App {
  text-align: center;
}


.App-header{
   p{
    color: red;
   }
}




@font-face { 
  font-family: 'Manrope'; 
  font-weight: 300; 
  font-style: normal; 
  src: url('./assets/fonts/manrope-light-webfont.woff2') format('woff2'); 
} 

@font-face { 
  font-family: 'Manrope'; 
  font-weight: 400; 
  font-style: normal; 
  src: url('./assets/fonts/manrope-regular-webfont.woff2') format('woff2'); 
} 

@font-face { 
  font-family: 'Manrope'; 
  font-weight: 500; 
  font-style: normal; 
  src: url('./assets/fonts/manrope-medium-webfont.woff2') format('woff2'); 
} 

@font-face { 
  font-family: 'Manrope'; 
  font-weight: 700; 
  font-style: bold; 
  src: url('./assets/fonts/manrope-bold-webfont.woff2') format('woff2'); 
} 

